.add-media-headings {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.add-media-placeholders {
    color: #9a9a9a;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.button {
    background: none;
    border: none;
    padding: 0;
}

.container {
    max-width: 75.1%;
}

.landing {
    background-color: #101010;
    background-image: url('./imgs/Background Image.svg');
    background-position: 53.1% 41.4%;
    background-repeat: no-repeat;
    height: 100vh;
}

.light-gray-background {
    background-color: #383838
}

.main-heading {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
    font-weight: 300;
}

.main-text {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.modal-content {
    background-color: #212121
}

.modal-backdrop {
    background-color: #101010
}

.navbar-container {
    padding: 0;
}

.navbar-dark {
    background-color: #212121;
    min-height: 86px;
}

.navbar-headings {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.numbers {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

ol { 
    counter-reset: item;
    list-style-type: none;
}

li { display: block; }

li:before { 
    content: counter(item) '  '; 
    counter-increment: item 
}

.semibold {
    font-weight: 600;
}

.song-name {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.time-added {
    color: #9a9a9a;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.time-info {
    padding-right: 24px;
}
